<h3 class="text-center mt-6">User Details :</h3>
<div class="row justify-content-center m-6">
<div class="card text-light bg-dark" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{users.name}}</h5>
    <h6>Company :</h6><p class="card-text"> {{ users.company.name }}</p>
    <h6>Address :</h6><p class="card-text"> {{ users.address.city }}</p>
    <h6>Email :</h6>  <p class="card-text"> {{ users.email }}</p>
    <h6>Phone :</h6> <p class="card-text"> {{ users.phone }}</p>
    <h6>Website :</h6> <p class="card-text"> {{ users.website }}</p>
  </div>
</div>
</div>
                    
            