<section>
                <h5>{{ user.id }}: {{ user.name | uppercase }}</h5>
                <p>Address: {{ user.address.street }}, {{ user.address.city }}</p>
                  <h6>Information</h6>

                      <h6>Email</h6>
                     {{ user.email }}

                      <h6>Phone</h6>
                     {{ user.phone }}

                  <h6>Company</h6>

                      <h6>Name</h6>
                    {{ user.company.name }}
                      <h6>Description</h6>
                     {{ user.company.bs }}
</section>
            